body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
    margin: 0;
    background-color: #c9c5c8;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center; /* Center the heading text */
    margin-bottom: 20px; /* Add some space below the heading */
}

.calculator-container { /* Style the container */
    display: flex;
    justify-content: center; /* Center the calculator */
    width: auto; /* Or a specific width if needed */
  }
.calculator {
    background-color: #0c0c0c;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(26, 194, 76, 0.5);
}

#display {
    width: 100%;
    height: 80px;
    background-color: #3f3030;
    color: #ffffff;
    border: none;
    text-align: right;
    padding: 1px;
    margin-top:auto;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #504141;
    color: #ffffff;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f7f2f2;
}

button:active {
    background-color: #ffecec;
}